@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    [type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
        box-shadow: none;
        outline-offset: 0;
    }

    @font-face {
        font-family: "v-sans";
        font-weight: 400;
        src: url("/fonts/Golos-Text_Regular.woff2");
    }

    @font-face {
        font-family: "v-sans";
        font-weight: 500;
        src: url("/fonts/Golos-Text_Medium.woff2");
    }

    @font-face {
        font-family: "v-sans";
        font-weight: 600;
        src: url("/fonts/Golos-Text_DemiBold.woff2");
    }

    @font-face {
        font-family: "v-sans";
        font-weight: 700;
        src: url("/fonts/Golos-Text_Bold.woff2");
    }

    @font-face {
        font-family: "v-sans";
        font-weight: 800;
        src: url("/fonts/Golos-Text_Black.woff2");
    }
}
